<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<div class="sidebar-brand-text mx-3">Usahaku Distribusindo</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0" />

	<!-- Nav Item - Dashboard -->
	<li class="nav-item">
		<a class="nav-link" href="/admin/dashboard">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span></a
		>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider" />

	<!-- Heading -->
	<div class="sidebar-heading">
		Data Master
	</div>

	<li class="nav-item">
		<a
			class="nav-link"
			href="#"
			data-toggle="collapse"
			data-target="#masterCollapse"
			aria-expanded="true"
			aria-controls="masterCollapse"
		>
			<i class="fas fa-fw fa-archive"></i>
			<span>Master</span>
		</a>
		<div id="masterCollapse" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/admin/kategori-barang">Kategori Barang</a>
				<a class="collapse-item" href="/admin/jenis-peleko">Jenis Peleko</a>
				<a class="collapse-item" href="/admin/jabatan">Jabatan</a>
			</div>
		</div>
	</li>

	<li class="nav-item">
		<a
			class="nav-link"
			href="#"
			data-toggle="collapse"
			data-target="#pelekoCollapse"
			aria-expanded="true"
			aria-controls="pelekoCollapse"
		>
			<i class="fas fa-fw fa-wrench"></i>
			<span>Peleko</span>
		</a>
		<div id="pelekoCollapse" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/admin/peleko">Peleko</a>
				<a class="collapse-item" href="/admin/peleko?q=jenis:sales">Sales</a>
				<a class="collapse-item" href="/admin/peleko?q=jenis:warung">Warung</a>
				<a class="collapse-item" href="/admin/peleko?q=jenis:outlet">Outlet</a>
				<a class="collapse-item" href="/admin/peleko/tambah">Tambah</a>
			</div>
		</div>
	</li>


	<li class="nav-item">
		<a
			class="nav-link"
			href="#"
			data-toggle="collapse"
			data-target="#gudangCollapse"
			aria-expanded="true"
			aria-controls="gudangCollapse"
		>
			<i class="fas fa-fw fa-wrench"></i>
			<span>Gudang</span>
		</a>
		<div id="gudangCollapse" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/admin/gudang">Gudang</a>
				<a class="collapse-item" href="/admin/gudang/tambah">Tambah Gudang</a>
			</div>
		</div>
	</li>

	<li class="nav-item">
		<a
			class="nav-link"
			href="#"
			data-toggle="collapse"
			data-target="#barangCollapse"
			aria-expanded="true"
			aria-controls="barangCollapse"
		>
			<i class="fas fa-fw fa-wrench"></i>
			<span>Barang</span>
		</a>
		<div id="barangCollapse" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/admin/barang">Barang</a>
				<a class="collapse-item" href="/admin/barang/tambah">Tambah Barang</a>
				<a class="collapse-item" href="/admin/barang?q=masuk">Masuk</a>
				<a class="collapse-item" href="/admin/barang?q=keluar">Keluar</a>
			</div>
		</div>
	</li>


	<!-- Divider -->
	<hr class="sidebar-divider" />

	<!-- Heading -->
	<div class="sidebar-heading">
		Order
	</div>

	<!-- Nav Item - Item -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="/admin/request">
			<i class="fas fa-fw fa-shopping-cart"></i>
			<span>Request</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider" />

	<!-- Heading -->
	<div class="sidebar-heading">
		Setting
	</div>

	<!-- Nav Item - Item -->
	<li class="nav-item">
		<a
			class="nav-link"
			href="#"
			data-toggle="collapse"
			data-target="#userCollapse"
			aria-expanded="true"
			aria-controls="userCollapse"
		>
			<i class="fas fa-fw fa-wrench"></i>
			<span>User</span>
		</a>
		<div id="userCollapse" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/admin/user">Daftar User</a>
				<a class="collapse-item" href="/admin/tambah-user">Tambah User</a>
				<a class="collapse-item" href="/admin/user-akses">User Akses</a>
				<!-- <a class="collapse-item" href="/admin/bank">Bank</a> -->
			</div>
		</div>
	</li>

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>
<!-- End of Sidebar -->
