<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<div class="sidebar-brand-text mx-3">Wellrafi</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0" />

	<!-- Nav Item - Dashboard -->
	<li class="nav-item">
		<a class="nav-link" href="/admin/dashboard">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span></a
		>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider" />

	<!-- Heading -->
	<div class="sidebar-heading">
		Master
	</div>

	<li class="nav-item">
		<a
			class="nav-link"
			href="#"
			data-toggle="collapse"
			data-target="#masterCollapse"
			aria-expanded="true"
			aria-controls="masterCollapse"
		>
			<i class="fas fa-fw fa-wrench"></i>
			<span>Master Data</span>
		</a>
		<div
			id="masterCollapse"
			class="collapse"
			aria-labelledby="headingUtilities"
			data-parent="#accordionSidebar"
		>
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/admin/category">Category</a>
				<a class="collapse-item" href="/admin/bank">Bank</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Item -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="/admin/item">
			<i class="fas fa-fw fa-hotel"></i>
			<span>Item</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block" />

	<!-- Heading -->
	<div class="sidebar-heading">
		Order
	</div>

	<!-- Nav Item - Item -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="/admin/booking">
			<i class="fas fa-fw fa-shopping-cart"></i>
			<span>Booking</span>
		</a>
	</li>

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>
<!-- End of Sidebar -->
