<div class="tab-pane fade" id="image-item" role="tabpanel" aria-labelledby="image-item-tab">
	<!-- DataTales Example -->
	<div class="card-columns mt-4">
		<% for( let i = 0; i < item.imageId.length; i++ ) { %>
		<div class="card">
			<img src="<%= item.imageId[i].imageUrl %>" alt="" style="width: 100%; border-radius: 4px;"/>
		</div>
		<% } %>
	</div>
</div>
